
<script>
    $(document.body).attr("class", "notransition");
</script>
<!-- customize stylesheet -->
<link href="/css/jquery-ui.css" rel="stylesheet">
<link href="/css/jquery.tagsinput.css" rel="stylesheet">
<link href="/css/datepicker.css" rel="stylesheet">
<link href="/css/fileinput.min.css" rel="stylesheet">
        <!-- Header -->
<div id="header">
    <div class="logo">
        <a href="/">
            <span class="fa fa-home marker"></span>
            <span class="logoText">홈으로</span>
        </a>
    </div>
    <a href="#" class="navHandler"><span class="fa fa-bars"></span></a>
    
    
    <!--맨위에 알람하고 사용자 설정-->
    <div class="headerUserWraper">
        <a href="#" class="userHandler dropdown-toggle" data-toggle="dropdown"><span class="icon-user"></span><span class="counter">5</span></a>
        <a href="#" class="headerUser dropdown-toggle" data-toggle="dropdown">
            <img class="avatar headerAvatar pull-left" src="/images/avatar-1.png" alt="avatar">
            <div class="userTop pull-left">
                <span class="headerUserName">사용자 이름</span> <span class="fa fa-angle-down"></span>
            </div>
            <div class="clearfix"></div>
        </a>
        <div class="dropdown-menu pull-right userMenu" role="menu">
            <div class="mobAvatar">
                <img class="avatar mobAvatarImg" src="/images/avatar-1.png" alt="avatar">
                <div class="mobAvatarName">사용자 이름</div>
            </div>
            <ul>
                <li><a href="#"><span class="icon-settings"></span>설정</a></li>
                <li><a href="profile.html"><span class="icon-user"></span>프로필</a></li>
                <li class="divider"></li>
                <li><a href="#"><span class="icon-power"></span>로그아웃</a></li>
            </ul>
        </div>
    </div>
    <!--맨위에 알람하고 사용자 설정 끝-->
    
    <!--맨위 알림 토글 다운-->
    <div class="headerNotifyWraper">
        <a href="#" class="headerNotify dropdown-toggle" data-toggle="dropdown">
            <span class="notifyIcon icon-bell"></span>
            <span class="counter">5</span>
        </a>
        <div class="dropdown-menu pull-right notifyMenu" role="menu">
            <div class="notifyHeader">
                <span>알림</span>
                <a href="#" class="notifySettings icon-settings"></a>
                <div class="clearfix"></div>
            </div>
            <ul class="notifyList">
                <li>
                    <a href="#">
                        <div class="notifyRound notifyRound-yellow fa fa-heart-o"></div>
                        <div class="pulse border-yellow"></div>
                        <div class="notify pull-left">
                            <div class="notifyName">관심아티스트 누구누구 공연입니다</div>
                            <div class="notifyTime">2 시간 후</div>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="notifyRound notifyRound-yellow fa fa-heart-o"></div>
                        <div class="pulse border-yellow"></div>
                        <div class="notify pull-left">
                            <div class="notifyName">관심아티스트 누구누구 공연입니다</div>
                            <div class="notifyTime">2 시간 후</div>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </li>
            </ul>
            <a href="#" class="notifyAll">모두 보기</a>
        </div>
    </div>
    <a href="#" class="mapHandler"><span class="icon-map"></span></a>
    <div class="clearfix"></div>
</div>
<!--맨위에 사용자 알람 토글다운 끝-->

 <!--왼쪽 사이드바 설정 시작 -->
<div id="leftSide">
    <nav class="leftNav scrollable">
        <ul>
            <li><a href="explore.html"><span class="navIcon icon-compass"></span><span class="navLabel">공연<br>모아보기</span></a></li>
            <li><a href="single.html"><span class="navIcon icon-home"></span><span class="navLabel">공연자<br>모아보기</span></a></li>
            <li><a href="add.html"><span class="navIcon icon-plus"></span><span class="navLabel">공연 등록</span></a></li>
        </ul>
    </nav>
</div>

<div class="closeLeftSide"></div>
<!--왼쪽 사이드바 설정 끝-->



<!-- Content -->

<div id="wrapper" class="full">
    <div id="content" class="max">
        <div class="tables">
            
            
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">공연자 수정하기</div>
                        <div class="panel-body">                                
                            <form class="form-horizontal" role="form" action="/culture/pf_update_1/<%= @pfid.id %>" enctype="multipart/form-data" method="post">                                        
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"> 공연자 / 팀 이름</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="공연자 / 팀 이름" name="new_team_name" value="<%= @pfid.team_name %>">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"> 멤버 </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" placeholder="멤버 이름" name="new_team_member" value="<%= @pfid.team_member %>">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">사진 업로드</label>
                                    <div class="col-sm-10">
                                        <input type="file" name="new_team_pic" class="file" multiple data-show-upload="false" data-show-caption="false" data-show-remove="false" accept="image/jpeg,image/png" data-browse-class="btn btn-o btn-default" data-browse-label="파일 찾기">
                                        <p class="help-block">사진은 4장까지 등록 가능 합니다</p>
                                    </div>
                                </div>
                        
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"> 주로 공연하는 지역 </label>
                                    <div class="col-sm-10">
                                        <input class="form-control" type="text" placeholder="주로 공연하는 지역" name="new_team_loca" value="<%= @pfid.team_loca %>">
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">공연자 / 팀 소개</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="9" placeholder="공연자 / 팀 소개" name="new_team_info" ><%= @pfid.team_info %></textarea>
                                    </div>
                                </div>
                                
                                
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">페이스북</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="icon-social-facebook"></span></div>
                                            <input class="form-control" type="text" name="new_team_fb" value="<%= @pfid.team_fb %>">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">트위터</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="icon-social-twitter"></span></div>
                                            <input class="form-control" type="text" name="new_team_tw" value="<%= @pfid.team_tw %>">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">개인 홈페이지 및 블로그</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <div class="input-group-addon"><span class="icon-rocket"></span></div>
                                            <input class="form-control" type="text" name="new_team_blog" value="<%= @pfid.team_blog %>">
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">주 공연 장르 선택</label>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" name="new_team_musical" value="뮤지컬"><span class="fa fa-check"></span> 뮤지컬</label></div>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" name="new_team_play" value="연극"><span class="fa fa-check"></span> 연극</label></div>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" name="new_team_concert" value="콘서트"><span class="fa fa-check"></span> 콘서트</label></div>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" name="new_team_classic" value="클래식 무용"><span class="fa fa-check"></span> 클래식 무용</label></div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" name="new_team_jeonsi" value="전시"><span class="fa fa-check"></span> 전시</label></div>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" name="new_team_sport" value="스포츠"><span class="fa fa-check"></span> 스포츠</label></div>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" name="new_team_busking" value="버스킹"><span class="fa fa-check"></span> 버스킹</label></div>
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" name="new_team_amateur" value="아마추어동아리"><span class="fa fa-check"></span> 아마추어동아리</label></div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                        <div class="checkbox custom-checkbox"><label><input type="checkbox" name="new_team_etc" value="기타"><span class="fa fa-check"></span> 기타</label></div>
                                    </div>
                                </div>
                                <br>
                                <br>




                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <input type='submit' value='수정하기' class="btn btn-o btn-green btn-block">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

    
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/jquery-ui-touch-punch.js"></script>
<script src="/js/jquery.touchSwipe.min.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/js/jquery.tagsinput.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/jquery.placeholder.js"></script>
<script src="/js/jquery.visible.js"></script>
<script src="/js/fileinput.min.js"></script>
<script src="/js/app.js" type="text/javascript"></script>